:root {
    --primario: ; 
    --primarioOscuro: ;
    --secundario: ;
    --secundarioOscuro: ;
    --blanco: rgb(243, 235, 235);
    --negro: #070317;

    --fuentePrincipal: font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

    /** Globales **/
body {
    background-color: var(--negro);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco)
}
a {
    text-decoration: none;

}
img {
    max-width: 100%;
}


/** Grid **/
.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/** Productos**/
.Titulo__tienda {
    display: flex;
    justify-content: center;
    font-family: var(--fuentePrincipal);
    font-size: 5rem;
    color: var(--blanco);
}
.producto {
background-color: var(--primarioOscuro);
padding: 1rem;
}
.producto__imagen {
    width: 100%;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__precio,
.producto__nombre {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/** Gráficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../Fotos/remera_smashfinal.jpg);
}
/** Grid **/


/**Lore Animacion*/
.lore_druida, .lore_warrior, .lore_warlock, .lore_trol {
    margin-top: 0.3rem;
}

.lore_druida {
    transition: all 0.2s ease;
    cursor: pointer
}

.lore_druida:hover {
    box-shadow: 5px 6px 6px 2px var(--negro);
    transform: scale(1.1)
}

.lore_warrior {
    transition: all 0.2s ease;
    cursor: pointer
}

.lore_warrior:hover {
    box-shadow: 5px 6px 6px 2px  var(--negro);
    transform: scale(1.1)
}

.lore_warlock {
    transition: all 0.2s ease;
    cursor: pointer
}

.lore_warlock:hover {
    box-shadow: 5px 6px 6px 2px  var(--negro);
    transform: scale(1.1)
}

.lore_trol {
    transition: all 0.2s ease;
    cursor: pointer
}

.lore_trol:hover {
    box-shadow: 5px 6px 6px 2px  var(--negro);
    transform: scale(1.1)
}





/** Footer**/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}