@charset "UTF-8";
/** Maps **/
/**Lore Animacion*/
.lore_druida, .lore_warrior, .lore_warlock, .lore_trol {
  margin-top: 0.3rem;
}

.lore_druida {
  transition: all 0.2s ease;
  cursor: pointer;
}
.lore_druida:hover {
  box-shadow: 5px 6px 6px 2px #070317;
  transform: scale(1.1);
}

.lore_warrior {
  transition: all 0.2s ease;
  cursor: pointer;
}
.lore_warrior:hover {
  box-shadow: 5px 6px 6px 2px #070317;
  transform: scale(1.1);
}

.lore_warlock {
  transition: all 0.2s ease;
  cursor: pointer;
}
.lore_warlock:hover {
  box-shadow: 5px 6px 6px 2px #070317;
  transform: scale(1.1);
}

.lore_trol {
  transition: all 0.2s ease;
  cursor: pointer;
}
.lore_trol:hover {
  box-shadow: 5px 6px 6px 2px #070317;
  transform: scale(1.1);
}

/** Minx **/
/** Extends **/
.contactanos__subtitulo, .titulo__yo, .contactanos__button, .Titulo__tienda {
  display: flex;
  justify-content: center;
}

body {
  background-color: #070317;
  font-size: 1.6rem;
  line-height: 1.5;
}

body p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3ebeb;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

.footer {
  background-color: #050211;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer .footer__texto {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

/** Maps **/
/** Grid **/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 0px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
/** Productos**/
.Titulo__tienda {
  font-size: 3rem;
  color: #f3ebeb;
  font-family: "Montserrat", sans-serif;
}

.producto {
  background-color: #050211;
  padding: 1rem;
}
.producto .producto__imagen {
  width: 100%;
  height: none;
  margin: none;
  padding: none;
}
.producto .producto__nombre {
  font-size: 3rem;
  color: #f3ebeb;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.producto .producto__precio {
  font-size: 2rem;
  color: #0505e9;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** Gráficos **/
.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/3;
}

.grafico--camisas {
  grid-row: 2/3;
  background-image: url(../Fotos/remera_smashfinal.jpg);
}

/** Producto animacion **/
.producto img {
  transition: all 0.2s ease;
  cursor: pointer;
}
.producto img:hover {
  box-shadow: 5px 6px 6px 2px #070317;
  transform: scale(1.1);
}

/** Extends **/
.contactanos__subtitulo, .titulo__yo, .contactanos__button, .Titulo__tienda {
  display: flex;
  justify-content: center;
}

body {
  background-color: #070317;
  font-size: 1.6rem;
  line-height: 1.5;
}

body p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3ebeb;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

.footer {
  background-color: #050211;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer .footer__texto {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

/** Nosotros **/
.nosotros__imagen {
  display: block;
  margin: auto;
  width: 50rem;
  height: none;
  margin: none;
  padding: none;
}

.nosotros__contenido {
  margin-bottom: 7rem;
}

.contactanos__button {
  margin-top: 8rem;
  font-size: 3rem;
  background-color: #050211;
  color: #020268;
}

/** Nosotros GRID **/
.nosotros__Grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.nosotros__Grid .nosotros__Grid--imagen {
  grid-row: 1/2;
  width: 35rem;
}

@media (min-width: 768px) {
  .nosotros__Grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .nosotros__Grid .nosotros__Grid--imagen {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }
}
/** Minx **/
/** Extends **/
.contactanos__subtitulo, .titulo__yo, .Titulo__tienda, .contactanos__button {
  display: flex;
  justify-content: center;
}

body {
  background-color: #070317;
  font-size: 1.6rem;
  line-height: 1.5;
}

body p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3ebeb;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

.footer {
  background-color: #050211;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer .footer__texto {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

/** Maps **/
/** Contactanos**/
.titulo__yo {
  font-size: 5rem;
  color: #020268;
  font-family: "Montserrat", sans-serif;
}

.imagen__contactanos {
  width: 12rem;
  height: none;
  margin: 4rem 0 0 0;
  padding: none;
}

/** Contactanos Grid**/
.grid__contactanos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid__contactanos .icono1 {
  grid-row: 1/2;
}
.grid__contactanos .icono2 {
  grid-row: 2/3;
}
.grid__contactanos .icono3 {
  grid-row: 3/4;
}

/** Formulario **/
.contactanos__subtitulo {
  font-size: 5rem;
  color: #020268;
  margin-top: 4rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}
input::-webkit-input-placeholder:hover, textarea::-webkit-input-placeholder:hover {
  font-size: 0.875rem;
  color: #020268;
  font-size: 0.875rem;
  color: #e2dedb;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}
input:focus::-webkit-input-placeholder:hover, textarea:focus::-webkit-input-placeholder:hover {
  color: #cbc6c1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}
input::-moz-placeholder:hover, textarea::-moz-placeholder:hover {
  font-size: 0.875rem;
  color: #020268;
  font-size: 0.875rem;
  color: #e2dedb;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}
input:focus::-moz-placeholder:hover, textarea:focus::-moz-placeholder:hover {
  color: #cbc6c1;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}
input::placeholder:hover, textarea::placeholder:hover {
  font-size: 0.875rem;
  color: #020268;
  font-size: 0.875rem;
  color: #e2dedb;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}
input:focus::placeholder:hover, textarea::focus:placeholder:hover {
  color: #cbc6c1;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875rem;
}
input::-ms-placeholder:hover, textarea::-ms-placeholder:hover {
  font-size: 0.875rem;
  color: #020268;
  font-size: 0.875rem;
  color: #e2dedb;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}
input:focus::-ms-placeholder:hover, textarea:focus::-ms-placeholder:hover {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}
#form input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
#form input:hover {
  background: #b3aca7;
  color: #e2dedb;
}
#form textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
#form textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}
#form .Mensaje {
  width: 502px;
  padding: 0;
  margin: -1px 0px 0px 0px;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
}
#form .Mensaje:hover {
  color: #e2dedb;
}

/** Minx **/
/** Maps **/
/** Extends **/
.Titulo__tienda, .contactanos__button, .titulo__yo, .contactanos__subtitulo {
  display: flex;
  justify-content: center;
}

body {
  background-color: #070317;
  font-size: 1.6rem;
  line-height: 1.5;
}

body p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3ebeb;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

.footer {
  background-color: #050211;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer .footer__texto {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

/** Box **/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** Globales **/
/** Footer**/

/*# sourceMappingURL=style.css.map */
