@import "minx";
@import "extends";
@import "maps";
@import "variables";

/** Contactanos**/

.titulo__yo{
    @extend %flex;
    @include letras (5rem , $secundarioOscuro);
}

.imagen__contactanos {
    @include imagenes (12rem, none, 4rem 0 0 0, none);
}

/** Contactanos Grid**/

.grid__contactanos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .icono1 {
        grid-row: 1 / 2;
    }
    
    .icono2 {
        grid-row: 2 / 3;
    }
    
    .icono3 {
        grid-row: 3 / 4;
    }
}

/** Formulario **/

.contactanos__subtitulo {
    @extend %flex;
    font-size: 5rem;
    color: $secundarioOscuro;
    margin-top: 4rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875rem;
    &:hover {
        @include letras (0.875rem , $secundarioOscuro);
    }
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
    &:hover {
        color: #cbc6c1;
    }
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875rem;
    &:hover {
        @include letras (0.875rem , $secundarioOscuro);
    }
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
    &:hover {
        color: #cbc6c1;
    }
}

input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875rem;
    &:hover {
        @include letras (0.875rem , $secundarioOscuro);
    }
}

input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
    &:hover {
        color: #cbc6c1;
    }
}

input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875rem;
    &:hover {
        @include letras (0.875rem , $secundarioOscuro);
    }
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
    &:hover {
        color: #cbc6c1;
    }
}


#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
    input {
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        width: 470px;
        height: 50px;
        padding: 0px 15px 0px 15px;
        
        background: transparent;
        outline: none;
        color: #726659;
        
        border: solid 1px #b3aca7;
        
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        &:hover {
            background: #b3aca7;
            color: #e2dedb;
        }
    }
    textarea {
        width: 470px;
        max-width: 470px;
        height: 110px;
        max-height: 110px;
        padding: 15px;
        
        background: transparent;
        outline: none;
        
        color: #726659;
        font-family: 'Lato', sans-serif;
        font-size: 0.875rem;
        
        border: solid 1px #b3aca7;
        
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        &:hover {
            background: #b3aca7;
            color: #e2dedb;
        }
    }
    .Mensaje {
        width: 502px;
        
        padding: 0;
        margin: -1px 0px 0px 0px;
        
        font-family: 'Lato', sans-serif;
        font-size: 0.875rem;
        color: #b3aca7;
        
        outline:none;
        cursor: map-get($animacion, estado-cursor);
        
        border: solid 1px #b3aca7;
        &:hover {
            color: #e2dedb;
        }
    }
}
