@import "variables";

/**Lore Animacion*/
.lore_druida, .lore_warrior, .lore_warlock, .lore_trol {
    margin-top: 0.3rem;
}

.lore_druida {
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
    box-shadow: 5px 6px 6px 2px $negro;
    transform: scale(1.1)
    }
}

.lore_warrior {
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
    box-shadow: 5px 6px 6px 2px $negro;
    transform: scale(1.1)
    }
    
}

.lore_warlock {
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
    box-shadow: 5px 6px 6px 2px $negro;
    transform: scale(1.1)
    }
}

.lore_trol {
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
    box-shadow: 5px 6px 6px 2px $negro;
    transform: scale(1.1)
    }
}
