
@import "maps";
@import "variables";

/**Lore Animacion*/
.lore_druida, .lore_warrior, .lore_warlock, .lore_trol {
    margin-top: 0.3rem;
}

.lore_druida {
    transition: all 0.2s ease;
    cursor: map-get($animacion, estado-cursor);
    &:hover {
    box-shadow: map-get($animacion, box-shadow);
    transform: map-get($animacion, escala)
    }
}

.lore_warrior {
    transition: all 0.2s ease;
    cursor: map-get($animacion, estado-cursor);
    &:hover {
    box-shadow: map-get($animacion, box-shadow);
    transform: map-get($animacion, escala)
    }
    
}

.lore_warlock {
    transition: all 0.2s ease;
    cursor: map-get($animacion, estado-cursor);
    &:hover {
    box-shadow: map-get($animacion, box-shadow);
    transform: map-get($animacion, escala)
    }
}

.lore_trol {
    transition: all 0.2s ease;
    cursor: map-get($animacion, estado-cursor);
    &:hover {
    box-shadow: map-get($animacion, box-shadow);
    transform: map-get($animacion, escala)
    }
}
