
@import "extends";
@import "variables";

/** Nosotros **/

.nosotros__imagen {
    display:block;
    margin:auto;
    @include imagenes (50rem, none, none, none);
}

.nosotros__contenido {
    margin-bottom: 7rem;
}


/** Nosotros GRID **/

.nosotros__Grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    .nosotros__Grid--imagen {
        grid-row: 1  / 2;
        width: 35rem;
    }  
}
@media (min-width: 768px) {
    .nosotros__Grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        .nosotros__Grid--imagen {
            grid-column: 2  / 3;
            align-self: center;
            justify-self: center;
        }  
    }
}
