@import "minx";
@import "extends";
@import "maps";
@import "variables";
/** Grid **/
.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 0px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    
}
@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/** Productos**/
.Titulo__tienda {
    @extend %flex;
    @include letras (3rem , $blanco)
}
.producto {
background-color: $primarioOscuro;
padding: 1rem;
    .producto__imagen{
        @include imagenes (100%, none, none, none);
    }
    .producto__nombre {
        @include letras (3rem , $blanco);
        margin: 1rem 0;
        text-align: center;
        line-height: 1.2;
    }
    .producto__precio {
        @include letras (2rem , $secundario);
        margin: 1rem 0;
        text-align: center;
        line-height: 1.2;
    }
}


/** Gráficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../Fotos/remera_smashfinal.jpg);
}

/** Producto animacion **/
.producto img{
    transition: all 0.2s ease;
    cursor: map-get($animacion, estado-cursor);

    &:hover {
    box-shadow: map-get($animacion, box-shadow);
    transform: map-get($animacion, escala)
    }
}