//Variables
$primario: grey; 
$primarioOscuro: #050211;
$secundario: rgb(5, 5, 233);
$secundarioOscuro: rgb(2, 2, 104);
$blanco: rgb(243, 235, 235);
$negro: #070317;
$fuentePrincipal: 'Montserrat', sans-serif;  